/* Color Theme Swatches in Hex */
.neon-1-hex { color: #F01FAA; }
.neon-2-hex { color: #1A133D; }
.neon-3-hex { color: #1F1B70; }
.neon-4-hex { color: #7314D9; }
.neon-5-hex { color: #1A2273; }

/* Color Theme Swatches in Hex */
.light-1-hex { color: #054869; }
.light-2-hex { color: #6ACAF5; }
.light-3-hex { color: #82E0F3; }
.light-4-hex { color: #81E4F3; }
.light-5-hex { color: #e8f4f7; }

/* Color Theme Swatches in Hex */
.dark-1-hex { color: #FCFFF5; }
.dark-2-hex { color: #CBDBD7; }
.dark-3-hex { color: #91AAB4; }
.dark-4-hex { color: #3E606F; }
.dark-5-hex { color: #193441; }
